.table__wrapper{
    // display: flex;
    // border: 1px solid black;
    .user__name{
        display: flex;
        justify-content: center;
        padding: 0.5em;
        margin-top: 1.2em;
        .user{
            color: red;
        }
    }
    .button__wrapper{
        display: flex;
        justify-content: center;
    }
    .right__wrapper{
        flex: 2;
        // border: 1px solid red;
        padding: 1.5em;
    }
    .left__wrapper{
        flex: 1;
        // border: 1px solid green;
    }
}
